@import "https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";
@import "https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css";

/* Materialize */

body {
    height: 100%;
    width: 100%;
}

html {
    color: #212121;
}

thead > tr > th,
tbody > tr > td {
    white-space: nowrap;
    text-align: center;
}

sub {
    font-size: 1.7rem;
    font-weight: 300;
}

tr.deleted {
    background-color: #FCC !important;
    color: #999;
}

.great-vives {
    font-family:'Great Vibes',cursive;
}

.t-title {
    font-size:3rem
}

.t-text {
    font-size:0.9rem
}

.t-icon {
    font-size:1rem
}

.t-icon-padding {
    padding-left: 5rem;
}

.t-small {
    font-size:0.7rem
}

.t-right {
    text-align: right;
}

.t-just {
    text-align: justify;
}

.t-sign {
    border-top: 2px solid #000;
    margin-top: 4rem;
    text-align: center;
}

.btn-floating.btn-fixed {
    position: absolute;
    top: 6rem;
    right: 9rem;
}

.tabs .tab a:hover, .tabs .tab a.active {
    border-bottom: 2px solid #FFF;
}

.waves-effect.waves-googleRed .waves-ripple {
    background-color: rgba(219, 68, 55, 0.65);
}

.waves-effect.waves-googleBlue .waves-ripple {
    background-color: rgba(66, 133, 244, 0.65);
}
.waves-effect.waves-googleYellow .waves-ripple {
    background-color: rgba(244, 160, 0, 0.65);
}
.waves-effect.waves-googleGreen .waves-ripple {
    background-color: rgba(15, 157, 88, 0.65);
}

.modal.bottom-sheet.eighty-percent {
    max-height: 80%;
}

.dropdown-content {
    max-height: 15rem;
}

.modal.datepicker-modal.open,
.modal.timepicker-modal.open {
    top: 20% !important;
}

@media only screen and (min-width: 993px) {
    .container { width: 80% }
}

/* Datatables */

table.dataTable thead th,
table.dataTable thead td {
    border: none;
}

table.dataTable.no-footer {
    border-bottom-color: #CCC;
}

.dataTables_filter,
.dataTables_info {
    display: none;
}

.dataTables_length {
    display: none;
}

.dataTables_wrapper {
    overflow-x: scroll;
    padding-bottom: 40px;
}

.dataTables_paginate {
    position: absolute;
    left: 0;
    transform: scale(0.7);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
}

/* Preview */

.preview .printable-page {
    background: #FFF url(../src/img/preview.svg) 0 0 / 8rem 8rem;
}

.printable-page {
    display: block;
    width: 60rem;
    margin: 3rem auto;
    padding: 3rem;
    background-color: #FFF;
    color: #000;
}

.printable-page .isotype > img {
    width: 6.5rem;
}

.printable-page .info {
    width: 67%;
}

.printable-page p {
    margin: 0;
}